.label {
    -fx-background-color: linear-gradient(to bottom right, #b3411b, #e68302);
    -fx-background-radius: 1em 0 1em 1em;
    -fx-border-radius: 1em 0 1em 1em;
    -fx-padding: 8px 10px;
}

.reply-label {
    -fx-background-color: #5e5e5e;
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

.error-label {
    -fx-background-color: #cc0202;
}

#displayPicture {
    /* Shadow effect on image. */
    /* Syntax: dropshadow(type, color, radius, spread, offsetX, offsetY) */
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.15), 10, 0.5, 1.5, 2.5);
    -fx-background-color: #5e5e5e;

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}